<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> PROCESS </title>
</head>
<body>
    <h1> INFORMACION OBJETO PROCESS </h1>
    <ul>
        <li>Argumento: <%=PROCESS.PROCESS_DATA.entry_args%></li>
        <li>Nombre plataforma: <%=PROCESS.PROCESS_DATA.platform_name%></li>
        <li>Node Version: <%=PROCESS.PROCESS_DATA.node_version%></li>
        <li>Memoria en uso: <%=PROCESS.PROCESS_DATA.memory_rss%></li>
        <li>Carpeta: <%=PROCESS.PROCESS_DATA.path_exe%></li>
        <li>ID proceso: <%=PROCESS.PROCESS_DATA.process_id%></li>
        <li>Path: <%=PROCESS.PROCESS_DATA.app_file%></li>
    </ul>
</body>
</html>